* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.58;
    color: #333;
    background-color: #f4f4f4;
}

.page {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 2px;
    width: 100%;
    max-width: 500px;
    padding: 35px 55px;
    text-align: center;
}

.form-control {
    width: 100%;
    min-height: 38px;
    font-size: 15px;
    border: 1px solid #c8c8c8;
    padding: 0 10px;
}

button {
    font-size: 14px;
    min-height: 38px;
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

button.accent {
    background-color: #6db33f;
    color: #fff;
}

button.primary {
    background-color: #6db33f;
    color: #fff;
}

.hidden {
    display: none;
}

.chat-container {
    max-width: 700px;
    margin: 30px auto;
    background-color: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    padding: 20px;
}

.chat-header {
    padding: 15px;
    border-bottom: 1px solid #ececec;
    text-align: center;
}

.chat-header h2 {
    margin: 0;
    font-weight: 500;
}

.connecting {
    padding-top: 5px;
    text-align: center;
    color: #777;
}

@media screen and (max-width: 480px) {
    .container {
        padding: 25px;
        width: auto;
        max-width: 100%;
    }

    .chat-container {
        margin: 10px;
        max-height: 600px;
        height: calc(100% - 60px);
    }

    #messageForm .input-group button {
        width: 65px;
    }

    #messageForm .input-group input {
        width: calc(100% - 70px);
    }

    .chat-header {
        padding: 10px;
    }

    .connecting {
        top: 60px;
    }

    .chat-header h2 {
        font-size: 1.1em;
    }
}